<poc-toolbar [value]="'My Reactive Form with Material'"> </poc-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <poc-email-input [placeholder]="'Emailaddress'" [parentForm]="formGroup"></poc-email-input>

    <poc-generic-input [placeholder]="'Name'" [parentForm]="formGroup"></poc-generic-input>

    <poc-text-area [placeholder]="'Description'" [parentForm]="formGroup" [matAutosizeMinRows]="2"
      [matAutosizeMaxRows]="5"></poc-text-area>

    <poc-password [placeholder]="'Password'" [parentForm]="formGroup"></poc-password>

    <div class="form-element">
      <poc-button [color]="'primary'" [type]="'submit'" [parentForm]="formGroup"></poc-button>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>